<p>discussion works!</p>
<div class="content" role="main">
   
    <div class="content-main"
        style="display: flex;flex-direction: row;justify-content: space-between; margin: 5px 0px;">
        <div class="content-left" style="width: 60%; padding-right:5px">
            <h2 style="color: brown;">Discussion</h2>
            <mat-card>
                <mat-card-title><h2>Reviewer 1</h2></mat-card-title>
                <mat-card-subtitle>12/27/2017</mat-card-subtitle>
                <mat-card-content>
                    <p>Dear author xxx</p>
                    <p>Many academic fields use peer review, largely to determine whether a manuscript is suitable for publication. Peer review enhances the credibility of the manuscript. For this reason, academic journals are among the most credible sources you can refer to.
                        However, peer review is also common in non-academic settings. The United Nations, the European Union, and many individual nations use peer review to evaluate grant applications. It is also widely used in medical and health-related fields as a teaching or quality-of-care measure.
                        Peer assessment is often used in the classroom as a pedagogical tool. Both receiving feedback and providing it are thought to enhance the learning process, helping students think critically and collaboratively.</p>
                
                        <p>Many academic fields use peer review, largely to determine whether a manuscript is suitable for publication. Peer review enhances the credibility of the manuscript. For this reason, academic journals are among the most credible sources you can refer to.
                            However, peer review is also common in non-academic settings. The United Nation tions use peer review to evaluate grant applications. It is also widely used in medical and health-related fields as a teaching or quality-of-care measure.
                            Peer assessment is often used in the classroom as a pedagogical tool. helping students think critically and collaboratively.</p>
                    
                    </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="openDialog()">Reply</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
              <li *ngIf="reply">
                <mat-card>
                    <mat-card-title><h2>Reviewer 2</h2></mat-card-title>
                    <mat-card-subtitle>12/29/2017</mat-card-subtitle>
                    <mat-card-content>
                        You chose: <i>{{reply}}</i>
                    </mat-card-content>
                </mat-card>
              </li>
        </div>

        <div class="content-right" style="width: 36%; margin-right: 10px;">
        </div>
    </div>
</div>